#MainBackground {
  background-color: #7BB2D9;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-svg1 {
  min-height: 100vh;
  background: url(https://firebasestorage.googleapis.com/v0/b/wishlingode.appspot.com/o/SVGs%2Fwave1.svg?alt=media&token=1fd9eead-b02c-4fb7-961d-11a64bfe2a18) center bottom no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  animation: fadeInUpBG 2s 0s forwards;
}

.background-svg2 {
  min-height: 100vh;
  background: url(https://firebasestorage.googleapis.com/v0/b/wishlingode.appspot.com/o/SVGs%2Fwave2.svg?alt=media&token=69c53f02-90fc-47c3-98e7-2511764d92d3) center bottom no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  animation: fadeInUpBG 4s 0s forwards;
}

.contentwrapper {
  position: relative;
  z-index: 3;
}
  
  @keyframes fadeInUpBG {
    from {
      transform: translateY(20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }




  