#answerInput {
	margin: 2em auto;
	border: none;
	padding: 0;
	width: calc(7 * (1ch + 0.5ch));
	background: repeating-linear-gradient(
		90deg,
		dimgrey 0, dimgrey 1ch,
		transparent 0, transparent calc(1ch + 0.5ch)
	) 0 100% / calc(7 * (1ch + 0.5ch) - 0.5ch) 2px no-repeat;
	font: 5ch droid sans mono, consolas, monospace;
	letter-spacing: 0.5ch;
}

#answerInput:focus {
	outline: none;
	color: dodgerblue;
}
